* {
 selected:            #99ccfa;
 primary:             #e0e2e8;
 text-selected:       #101418;
 text-element:        #d1bfe7;
 background:          #0D0D0D;
 error-message:       #ff607a;
 placeholder:         #414141;
}
